body{
    background-color: rgb(164, 164, 145);
    font-family: Cantarell, Ubuntu, 'Open Sans', 'Helvetica Neue';
   }
 .boddy *{
    height: 250px;
    width: 350px;
    float: left;
    margin-bottom: 5em;
    margin-left: 5%;
    margin-right: 5%;
}
.boddy h2{
    height: 25px;
    font-size: 23px;
    color: white;
}
.boddy .ethiopia *{
    height: 33%;
    width: 100%;
    margin: 0;
}

.boddy .France *{
    height: 100%;
    width: 33%;
    float: left;
    margin: 0;
}

.boddy .Austria *{
    height: 33%;
    width: 100%;
    margin: 0;
}

.boddy .egypt *{
    height: 100%;
    width: 33%;
    margin: 0;
}
.boddy .ireland *{
    height: 100%;
    width: 33%;
    float: left;
    margin: 0;
}
.boddy .italy *{
    height: 100%;
    width: 33%;
    float: left;
    margin: 0;
}

.boddy .peru *{
    height: 100%;
    width: 33%;
    float: left;
    margin: 0;
}
.boddy .Netherland *{
    height: 33%;
    width: 100%;
    margin: 0;
}
.boddy .argentina *{
    height: 33%;
    width: 100%;
    margin: 0;
}

.boddy .germany *{
    height: 33%;
    width: 100%;
    margin: 0;
}

.boddy .russia *{
    height: 33%;
    width: 100%;
    margin: 0;
}

.boddy .estonia *{
    height: 33%;
    width: 100%;
    margin: 0;
}


.boddy .nigeria *{
    height: 33%;
    width: 100%;
    margin: 0;
 }

#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#darkblue{
    background-color: rgb(11, 11, 66);
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#black{
    background-color: black;
}
#green{
    background-color: green;
}
#orange{
    background-color: orange;
}
#lightred{
    background-color: rgb(218, 40, 40);
}

#skyblue{
    background-color: skyblue;
}