body{
        padding-left: 35rem;
        padding-top: 8rem;
        background-color: skyblue;
      }
.tic {
    margin-left: 33%;
    margin-top: 10%;
    width: 600px;
    height: 600px;
    align-items: center;
    padding: 0;      
    margin: 0;

      }
 .tic *{  
    height: 30%;
    width: 30%;
    float: left;
      }s