body{
        padding-left: 35rem;
        padding-top: 7rem;
        background-color: skyblue;
        
}      
.boody *{
        width: 11rem;
        height: 11rem;
        float: left;
        border: 4px;
}
#line1{
        
        float: center;
        border: 5px solid;
      }
#line2{
        
        float: center;
        border: 5px solid;
      }
#line3{
        float: center;
        border: 5px solid;
      }